#root {
    -fx-padding: 20px;
}

#header {
    -fx-alignment: center;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}

#main {
    -fx-alignment: center;
}

#main * {
    -fx-padding: 15px;
}

#main ToggleButton {
    -fx-padding: 15px 30px;
}

Button {
    -fx-padding: 15px 30px;
}

#footer {
    -fx-alignment: bottom-right;
}

#LIGHT {
    -fx-background-color: lightblue;
}

#DARK {
    -fx-background-color: darkgray;
}

#boardContainer #boardField {
    -fx-border-color: green;
}

#btnNewGame {
    -fx-alignment: bottom-left;
}

#lblMessage {
    -fx-text-fill: red;
}