#root {
    -fx-padding: 20px;
}

#header {
    -fx-alignment: center;
}

#main {
    -fx-alignment: center;
}

#footer {
    -fx-alignment: bottom-right;
}

#LIGHT {
    -fx-background-color: lightblue;
}

#DARK {
    -fx-background-color: darkgray;
}

#boardContainer #boardField {
    -fx-border-color: green;
}